/* reset */
*, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* style nav */
nav {
    /* display flex */
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* spacing */
    padding: 15px 50px;
    position: fixed;
    /* 100% */
    width:  100%;
    background: rgba(255, 255, 255, 0.602);
}
/* nav logo */
.nav-logo {
    max-width: 200px;
}
@media screen and (max-width: 375px) {
    .nav-logo {
        max-width: 150px;
    }
}


/* nav link */
/* spacing */
.nav-box-link *:not(:last-child){
    margin-right: 100px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-family: Roboto, sans-serif;
    font-size: 25px;
    /* pos. relative for hover effect */
    position: relative;
}
/* create line */
.nav-link::before {
    content: "";
    width: 0;
    height: 3px;
    border-radius: 50px;
    bottom: -3px;
    background: #000;
    position: absolute;
    transition: width 1s ease-in-out;
}
/* effect */
.nav-link:hover::before {
    width: 100%;
}

/* menu hamburger */
.menu-hamb {
    height: 35px;
    width: 50px;
    position: relative;
    display: none;
}
/* line */
.line {
    width: 100%;
    height: 3px;
    background: #333;
    position: absolute;
    transition: transform 1s ease-in-out,
    left 1s linear;
}
.line:nth-child(2){
    top: 50%;
    transform: translateY(-50%);
}
.line:nth-child(3) {
    bottom: 0;
}

/* responsive */
@media screen and (max-width: 1080px) {
    nav {
        padding: 15px 25px;
    width:  100%;
    }
    .nav-box-link *:not(:last-child){
        margin-right: 50px;
    }
}
@media screen and (max-width: 810px) {
    .nav-box-link {
        display: none;
    }
    .menu-hamb {
        display: block;
    }
}


.box-nav-link-responsive {
    height: 100vh;
    width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0;
    top: 0px;
    text-align: center;
    padding: 50px;
    background: #00000083;
    transition: all 1s ease-in-out;
}
.box-nav-link-responsive .nav-link {
    margin-right: 0;
    color: white;
}

/* 1 effect => ➕ */
.line-open-mode .line:nth-child(2){
    transform: rotate(90deg);
}
.line-open-mode .line:nth-child(1){
    top: 50%;
}
.line-open-mode .line:nth-child(3){
    transform: translateX(5000px);
}

/* 2 effect => ❌ */
/* .line-open-mode .line:nth-child(2){
    transform: rotate(-45deg);
}
.line-open-mode .line:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
}
.line-open-mode .line:nth-child(3){
    left: 500px;
} */





/* style for content example */
section {
    width: 100vw;
    padding: 100px 50px;
}
